.margin-top-cls {
  margin-top: 15px
}

.icon-image {
  height: 168px;
  width: 203px;
  margin-top: 15px;
}


.margin-right-img {
  margin-right: -17px;
}

.clr {
  color: white
}

.home-eng-box {
  border: 2px solid #6679c5;
  min-height: 182px;
  margin-top: 15px;
  border-radius: 10px;
  width: 32%;
  margin-right: 16px;
}

.home-eng-box-left {
  margin-left: -2px !important;
}

.home-excutive-img {
  border-radius: 119px;
  height: 57px;
  margin-top: 40px;
}

.home-excutive-word {
  position: absolute;
  margin-top: -73px;
  margin-left: 66px;
  word-break: break-all;
  width: 21%
}

.home-eng-box2 {
  border: 2px solid #6679c5;
  min-height: 182px;
  margin-top: 15px;
  border-radius: 10px;
  width: 100%;
  margin-right: 16px;
}

.home-eng-box2-text {
  margin-top: 23px;
  margin-left: -37px;
}
.capabilities-eng-skills-box1 {
  border: 2px solid #6679c5;
  min-height: 100px;
  margin-bottom: 8px;
  margin-left: 83px;
  border-radius: 10px;
}
.capabilities-eng-skills-box {
  border: 2px solid #6b6f7e;
  min-height: 100px;
  margin-bottom: 8px;
  margin-left: 8px;
  border-radius: 10px;
  background-color: black;
  width: 19%;
}

.home-skills-img {
  border-radius: 119px;
  height: 18px;
}
.capabilities-icon {
  border-radius: 119px;
  height: 42px;
}
.contactTexhXL {
  margin-top: 15px
}
