.margin-top-cls {
  margin-top: 15px
}

.thumb-image-height {
  height: 197px !important;
  width: 193px;
  margin-top: 11px;
}

.margin-right-img {
  margin-right: -17px;
}
.fotter{
    display:none!important
}
.clr{
    color:white
}
.list {
  margin-left: 94px;
}
.loadmor-button {
  color: white;
  border: 2px solid #f3eded;
  height: 115px;
  width: 30%;
  margin-top: 50px;
  color: black;
  font-weight: bold;
  margin-left: 450px;
  margin-bottom:40px
}
